
@{
    ViewData["Title"] = "SuccesfullyRegistered";
    Layout = "_GuestLayout";
}
<br />
<h1 class="text-center">Succesfully Registered</h1>

<a asp-area="" asp-controller="Guest" asp-action="HomePage">Back to home page</a>
<br>
<a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>



