@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_GuestLayout";
}
<br />
<h1 class="text-center">@ViewData["Title"]</h1>
<br />
<h5>Use this page to detail your site's privacy policy.</h5>

